@{
    ViewData["Title"] = "About me";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a href="https://learn.microsoft.com/en-us/aspnet/core/host-and-deploy/azure-apps/?source=recommendations&view=aspnetcore-6.0&tabs=visual-studio">Dotnet on Azure</a></p>
</div>